name: Test and Deploy

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

concurrency:
  group: >-
    ${{ github.workflow }}-
    ${{ github.ref_type }}-
    ${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        platform: ["ubuntu-latest", "windows-latest"]
        python-version: ["3.7", "3.8"]
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Conda env check
        run: conda env list

      - name: Install dependencies
        run: make install
      
      - name: Run tests
        run: make test-cov

      - name: Codecov upload
        run: codecov

  build_publish:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && github.repository == 'Yvictor/sjtrade'
    needs: [test]
    steps:
      - uses: actions/checkout@master
      - name: Setup Python  
        uses: actions/setup-python@master
        with:
          python-version: 3.7

      - name: Install Dependency
        run: make install-flit

      - name: Publish package to PyPI
        env:
          FLIT_USERNAME: ${{ secrets.FLIT_USERNAME }}
          FLIT_PASSWORD: ${{ secrets.FLIT_PASSWORD }}
        run: |
          flit build
          flit publish